@charset "UTF-8";

/* all */

body {
	background-color: #BEDCEF;
	font-family: "Helvetica Neue";
	color: white;
}

li {
	list-style: none;
}

a {
	color : white;
	text-decoration: none;
}

a :hover {
	color: #189CC3;
}

/* side-bar */

#side-bar {
	width: 30%;
}

.logo {
	font-size: 50px;
	padding: 15px;
}

.menu-list {
	padding: 15px;
	margin: auto;
	color: white;
}

.menu-item {
	margin-bottom: 15px;
}

.menu-icon {
	float: left;
	margin-bottom: 15px;
}

.menu-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}

/* login-form */

.contact-form div {
    margin:auto;
    font-size:20px;
}

.contact-form button {
    background-color: #189CC3;
    border: none;
    border-radius: 10px;
    width:100px;
}

.contact-form input {
    border-radius: 30px;
}

/* thanks view */

.thanks-view .row {
    height:100%;
    margin:auto;
}

.thanks-message {
    margin:auto;
    text-align:center;
    font-size:30px;
}

/* footer */

footer {
    width:100vw;
    text-align: center;
    font-size:15px;
}