@charset "UTF-8";

/* Valiables */

$light-blue: #BEDCEF;
// $blue: #4EA0D3;
$blue: #62abd8;
$emphasis-blue: #3d97cf;
$gray: #606060;
// $red : ;
$label-letter-space: 0.1em;
$normal-letter-space: 0.05em;
$label-font-weight: 500;
$normal-font-weight: 400;
$thin-font-weight: 100;
$round: 50rem;

/* base */

html {
	height: 100%;
	font-size: medium;
}

body {
	background-color: $light-blue;
	font-family: "Helvetica Neue";
	letter-spacing: $label-letter-space;
	font-weight: $label-font-weight;
	color: white;
	max-width: 1400px;
	width: 100vw;
	height: 100%;
	margin: 0;
}

.container {
	height: 100%;
}

li {
	list-style: none;
}

a {
	color : white;
	text-decoration: none;
}

a:hover {
color: $blue;
}

/* button */

.btn {

	// TODO do I have to write this twice?

	@mixin linkProperty() {
		color: white;
		&:hover {
			color: $blue;
		}
	}
	
	@mixin btnProperty($type) {
		border: 3px solid $blue;
		color: white;
		background-color: $blue;
		letter-spacing: $label-letter-space;
		border-radius: $round;
		font-weight: $label-font-weight;

		@if $type == small {
			width: 120px;
			height: 40px;
			font-size: 1.0rem;
		} @else if $type == large {
			width: 160px;
			height: 60px;
			font-size: 1.4rem;
		} @else {
			width: 140px;
			height: 50px;
			font-size: 1.2rem;
		}

		&:hover {
			border: 2px solid $emphasis-blue;
			background-color: $emphasis-blue;
			color: white;
		}
	
	}

	&.btn-link {
		@include linkProperty();
	}

	&.btn-small {
		@include btnProperty(small);
	}

	&.btn-medium {
		@include btnProperty(medium);
	}

	&.btn-large {
		@include btnProperty(large);
	}

}

/* form */

form {

	@mixin formInput {
		border: 2px solid white;
		width: 250px;
		color: $gray;
		letter-spacing: $normal-letter-space;
		font-weight: $normal-font-weight;
		border-radius: $round;
		padding: 3px 10px 3px 10px;
	}

	input {
		@include formInput();
	}

	select {
		@include formInput();
	}

	label{
		width: 250px;
	}

}

/* logo */

.logo {
	height: 100px;
	font-size: 60px;
	font-weight: 700;
}


// delete main container in html?
// .main-container {
// 	width: 100%;
// 	max-width:1800px;
// 	height: 100%;
// }


// .icon-item {
// 	fill: white;
// }

// .icon-item :hover {
// 	fill: #4EA0D3;
// }

// .table {
// 	color: white;
// 	border: white;
// }

// .table-header {
// 	border-bottom-width: 3px;
// }

// button[type="button"] {
// 	color: white;
// }

// button[type="button"]:hover {
// 	color: #4EA0D3;
// }

// button[type="submit"] {
// 	width: 100px;
// 	border: 2px solid white;
// 	color: white;
// }

// button[type="submit"]:hover {
// 	border: 2px solid #4EA0D3;
// 	background-color: #4EA0D3;
// 	color: white;
// }

// /* SIDE-BAR */

// .side-bar {
// 	height: 100vh;
// 	border-right: 3px solid white;
// }

// .side-bar .row {
// 	padding: 15px;
// }

// .logo {
// 	height: 100px;
// 	font-size: 60px;
// 	font-weight: 700;
// }

// .menu-list {
// 	margin: auto;
// 	color: white;
// }

// .menu-item {
// 	margin-bottom: 15px;
// 	font-size: 25px;
// 	font-weight: 500;
// 	text-align: center;
// 	padding-bottom: 5px;
// }

// .settings-list {
// 	display: inline;
// }

// .setting-item {
// 	height: 20px;
// 	width: 20px;
// 	float: right;
// }

// /* TOP-BAR */

// .top-bar {
// 	height: 80px;
// 	margin-top: 15px;
// 	padding: 15px;
// }

// .clock {
// 	font-size: 30px;
// 	font-weight: 500;
// }

// .search-box {
// 	background-color: white;
// 	height:40px;
// }

// .search-text {
// 	outline: none;
// }

// .search-icon {
// 	height: 24px;
// 	width: 24px;
// 	fill: #bedcef;
// }

// /* content */

// .content {
// 	padding: 15px;
// }

// .title {
// 	text-align: right;
// 	font-size: 40px;
// 	font-weight: 700;
// 	margin: 0px 30px 0px 30px;
// 	color:white;
// }

// .list-box {
// 	height: 52vh;
// }

// /* LOGIN-FORM */

// .contact-form div {
//     margin:auto;
//     font-size:20px;
// }

// .contact-form button {
//     background-color: #4EA0D3;
//     border: none;
//     border-radius: 10px;
//     width:100px;
// }

// .contact-form input {
//     border-radius: 30px;
// }

// /* THANKS-VIEW */

// .thanks-view .row {
//     height:100%;
//     margin:auto;
// }

// .thanks-message {
//     margin:auto;
//     text-align:center;
//     font-size:30px;
// }

/* FOOTER */

footer {
    width:100%;
	background-color: $light-blue;
	display: block;
}