@charset "UTF-8";

/* all */

html {
	height: 100vh;
}

body {
	background-color: #BEDCEF;
	font-family: "Helvetica Neue";
	color: white;
	width: 100%;
	height: 100vh;
	margin: 0;
}

.main-container {
	width: auto;
	height: 100vh;
	padding: 0px;
}

li {
	list-style: none;
}

a {
	color : white;
	text-decoration: none;
}

a:hover {
	color: #189CC3;
}

/* side-bar */

.side-bar {
	border-right: 3px solid white;
}

.logo {
	height: 105px;
	font-size: 50px;
	padding: 15px;
}

.menu-list {
	padding: 15px;
	margin: auto;
	color: white;
}

.menu-item {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
}

.settings-list {
	display: inline;
}

.setting-item {
	height: 20px;
	width: 20px;
	float: right;
	margin-right: 30px;
}

.settings-icon {
	fill: white;
}

.setting-item :hover {
	fill: #189CC3;
}

/* top-bar */

.top-bar {
	height: 75px;
}

/* login-form */

.contact-form div {
    margin:auto;
    font-size:20px;
}

.contact-form button {
    background-color: #189CC3;
    border: none;
    border-radius: 10px;
    width:100px;
}

.contact-form input {
    border-radius: 30px;
}

/* thanks view */

.thanks-view .row {
    height:100%;
    margin:auto;
}

.thanks-message {
    margin:auto;
    text-align:center;
    font-size:30px;
}

/* footer */

footer {
    width:100%;
    font-size:15px;
	display: block;
}