@charset "UTF-8";

/* ALL */

html {
	height: 100%;
}

body {
	background-color: #BEDCEF;
	font-family: "Helvetica Neue";
	color: white;
	max-width: 1400px;
	width: 100vw;
	height: 100%;
	margin: 0;
}

.container {
	height: 100%;
}

.main-container {
	width: 100%;
	max-width:1800px;
	height: 100%;
}

li {
	list-style: none;
}

a {
	color : white;
	text-decoration: none;
}

a:hover {
	color: #4EA0D3;
}

.icon-item {
	fill: white;
}

.icon-item :hover {
	fill: #4EA0D3;
}

.table {
	color: white;
	border: white;
}

.table-header {
	border-bottom-width: 3px;
}

/* TODO set style for details and edit btn
white-border and white letter 
:hover blue-button with white letter*/

/* .btn {
	width: 100px;
	border: 2px solid white;
	color: white;
}

.btn:hover {
	border: 2px solid #4EA0D3;
	background-color: #4EA0D3;
	color: white;
} */

button[type="button"] {
	color: white;
}

button[type="button"]:hover {
	color: #4EA0D3;
}

button[type="submit"] {
	width: 100px;
	border: 2px solid white;
	color: white;
}

button[type="submit"]:hover {
	border: 2px solid #4EA0D3;
	background-color: #4EA0D3;
	color: white;
}

/* SIDE-BAR */

.side-bar {
	height: 100vh;
	border-right: 3px solid white;
}

.side-bar .row {
	padding: 15px;
}

.logo {
	height: 100px;
	font-size: 60px;
	font-weight: 700;
	/* padding: 15px; */
}

.menu-list {
	/* padding: 15px; */
	margin: auto;
	color: white;
}

.menu-item {
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	padding-bottom: 5px;
}

.settings-list {
	display: inline;
}

.setting-item {
	height: 20px;
	width: 20px;
	float: right;
}

/* TOP-BAR */

.top-bar {
	height: 80px;
	margin-top: 15px;
	padding: 15px;
}

.clock {
	font-size: 30px;
	font-weight: 500;
}

.search-box {
	background-color: white;
	height:40px;
}

.search-text {
	outline: none;
}

.search-icon {
	height: 24px;
	width: 24px;
	fill: #bedcef;
}

/* content */

.content {
	padding: 15px;
}

.title {
	text-align: right;
	font-size: 40px;
	font-weight: 700;
	margin: 0px 30px 0px 30px;
	color:white;
}

.list-box {
	height: 52vh;
}

/* LOGIN-FORM */

.contact-form div {
    margin:auto;
    font-size:20px;
}

.contact-form button {
    background-color: #4EA0D3;
    border: none;
    border-radius: 10px;
    width:100px;
}

.contact-form input {
    border-radius: 30px;
}

/* THANKS-VIEW */

.thanks-view .row {
    height:100%;
    margin:auto;
}

.thanks-message {
    margin:auto;
    text-align:center;
    font-size:30px;
}

/* FOOTER */

footer {
    width:100%;
    font-size:15px;
	display: block;
}