<!DOCTYPE html>
<html class="no-js"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		th:fragment="layout (title,body)">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link href="/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="screen, projection"></link>
		<script src="/static/js/script.js" th:src="@{/js/main.js}"></script>
		<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">__stock</title>
	</head>
	<body>
		<div class="container">
			<div class="row d-flex flex-row">
				<div class="col-3 p-0">
					<div id="side-bar" layout:insert="side-bar::side-bar"></div>
				</div>
				<div class="col-9 d-flex flex-column">
					<div id="top-bar" layout:insert="top-bar::top-bar"></div>
					<div id="content" layout:fragment="content"></div>
				</div>
				<!-- <footer></footer> -->
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	</body>
</html>