<!doctype html>
<html class="no-js" lang="ja" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment=”side-bar”>
		<div id="side-bar" class="container">
			<div class="row">
				<div class= "col-12">
					<div class="logo">__repository</div>
				</div>
			</div>
			<div class="row">
				<ul class="menu-list">
					<li class="menu-item">
						<div class= "col-3">
							<div class="menu-icon">✔️</div>
						</div>
						<div class= "col-9">
							<div class="menu-title"><a href="#">注文一覧</a></div>
						</div>
					</li>
					<li class="menu-item">
						<div class= "col-3">
							<div class="menu-icon">✔️</div>
						</div>
						<div class= "col-9">
							<div class="menu-title"><a href="#">顧客一覧</a></div>
						</div>
					</li>
					<li class="menu-item">
						<div class= "col-3">
							<div class="menu-icon">✔️</div>
						</div>
						<div class= "col-9">
							<div class="menu-title"><a href="#">商品一覧</a></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-4 setting-icon">
					<img> <!-- ネジアイコン -->
				</div>
			</div>
		</div>
	</div>
</html>