<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<div id="side-bar" layout:fragment="side-bar">
						<div class="row">
				<div class= "col-12">
					<div class="logo">__stock</div>
				</div>
			</div>
			<div class="row">
				<ul class="menu-list">
					<li class="menu-item">
						<div class= "col-3">
							<div class="menu-icon">✔️</div>
						</div>
						<div class= "col-9">
							<div class="menu-title"><a href="#">注文一覧</a></div>
						</div>
					</li>
					<li class="menu-item">
						<div class= "col-3">
							<div class="menu-icon">✔️</div>
						</div>
						<div class= "col-9">
							<div class="menu-title"><a href="#">顧客一覧</a></div>
						</div>
					</li>
					<li class="menu-item">
						<div class= "col-3">
							<div class="menu-icon">✔️</div>
						</div>
						<div class= "col-9">
							<div class="menu-title"><a href="#">商品一覧</a></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-4 setting-icon">
					<img> ネジアイコン
				</div>
			</div>
		</div>
	</body>
</html>